.tile-large {
  width: 54px;
  height: 75.6px;
}

.tile-normal {
    width: 42px;
    height: 58.8px;
}

.tile-small {
  width: 36px;
  height: 50.4px;
}

.tile-tiny {
  width: 28px;
  height: 39.2px;
}

.tiles {
  display: inline-block;
  word-break: break-all;
}
